spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/pdd_user?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    password:
    database: 0
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yaml

server:
  port: 8081
  servlet:
    context-path: /user

jwt:
  secret: pdd_user_service_secret_key
  expiration: 86400

# Logging configuration
logging:
  level:
    com.pdd.user: info
  config:
    classpath: logback-spring.xml
