<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pdd.user.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.pdd.user.entity.Address">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="district" property="district"/>
        <result column="detail" property="detail"/>
        <result column="is_default" property="isDefault"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM address WHERE id = #{id}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM address WHERE user_id = #{userId}
    </select>

    <select id="selectDefaultByUserId" resultMap="BaseResultMap">
        SELECT * FROM address WHERE user_id = #{userId} AND is_default = 1
    </select>

    <insert id="insert" parameterType="com.pdd.user.entity.Address" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO address (user_id, name, phone, province, city, district, detail, is_default)
        VALUES (#{userId}, #{name}, #{phone}, #{province}, #{city}, #{district}, #{detail}, #{isDefault})
    </insert>

    <update id="update" parameterType="com.pdd.user.entity.Address">
        UPDATE address
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="district != null">district = #{district},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM address WHERE id = #{id}
    </delete>

    <select id="existsByIdAndUserId" resultType="boolean">
        SELECT COUNT(*) > 0 FROM address WHERE id = #{id} AND user_id = #{userId}
    </select>

    <update id="clearDefaultByUserId">
        UPDATE address SET is_default = 0 WHERE user_id = #{userId} AND is_default = 1
    </update>

</mapper>
